@import "tailwindcss";
@import "@nuxt/ui";
@plugin "@tailwindcss/typography";
@theme {
    --font-sans: 'Public Sans',sans-serif;
}
.class{
    font-family: "Roboto Light", sans-serif;
}
.inactive___button{
    @apply text-gray-400;
}
.active___button{
    @apply bg-red-50 text-red-400 font-medium;
}
@theme static {
    --ui-color-primary-500: #EF1A21;
}
:root {
  --ui-primary: var(--ui-color-primary-500);
  
}